aiohttp[speedups] >= 3.14.1
aiohttp-retry >= 2.9.1

backoff >= 2.2.1
boto3 >= 1.43.40
click >= 8.4.2
colorama >= 0.4.6, < 0.4.7
cryptography >= 49.0.0
fastapi[all] >= 0.139.0
paramiko >= 5.0.0
prettytable >= 3.18.0
psutil >= 7.2.2
py-cpuinfo >= 9.0.0
inquirerpy == 0.3.4
requests >= 2.34.2
tomli >= 2.4.1
tomlkit >= 0.15.0
tqdm-loggable >= 0.4.1
urllib3 >= 1.26.6
watchdog >= 6.0.0
