aiohttp[speedups] >= 3.14.1
aiohttp-retry >= 2.8.3

backoff >= 2.2.1
boto3 >= 1.26.165
click >= 8.1.7
colorama >= 0.4.6, < 0.4.7
cryptography >= 48.0.1
fastapi[all] >= 0.138.1
paramiko >= 5.0.0
prettytable >= 3.18.0
psutil >= 5.9.0
py-cpuinfo >= 9.0.0
inquirerpy == 0.3.4
requests >= 2.31.0
tomli >= 2.4.1
tomlkit >= 0.15.0
tqdm-loggable >= 0.4.1
urllib3 >= 1.26.6
watchdog >= 6.0.0
