name: CI | Code Quality

on:
  push:
    branches-ignore:
      - "main-ci"
      - "release"
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11.0

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint
          pip install pytest

      - name: Pylint Source
        run: |
          find . -type f -name '*.py' | xargs pylint --extension-pkg-whitelist='pydantic'
