name: CI | Unit Tests

on:
  push:
    branches-ignore:
      - main-ci
      - release

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  run_tests:
    strategy:
      matrix:
        python-version: [3.10.12, 3.11.0]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          pip install pytest-timeout
          pip install pytest-cov
          pip install pytest-asyncio

      - name: Run Tests
        run: |
          pytest --timeout=120 --timeout_method=thread --cov=runpod --cov-report=xml --cov-report=term-missing --cov-fail-under=100
